<!DOCTYPE html>
<html lang="en">
<head>
    <h1> Hello World </h1>
    <h1> This Sheekies Webpage </h1>
    <body bgcolor="gray">
      <img src="https://www.cstatic-images.com/stock/400x500/264136.png" alt="">
    </body>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/style.css">
  <title>Fav Page</title>
</head>
<body bgcolor="gray">
  <ul>

    <li id="color1"> <a href="https://www.coolmathgames.com/">blue</a> {{item1}} </li>
    <li id="color2"> <a href="https://www.crunchyroll.com/">red</a> {{item2}} </li>
    <li id="color3"> <a href="https://www.youtube.com/?reload=9">black</a> {{item3}} </li>
    <li id="color4"> <a href="https://www.w3schools.com/html/html_headings.asp">orange</a> {{item4}} </li>
  </ul>
</body>
</html>
