ul
{
    list-style: none;
}

a
{
    color: blue;
    border-width: 6px;
    border-color: red;
    border-style: dashed;

}

a:hover, a:visited
{
  text-decoration: none;  
}

1i
{
    margin: 20px;
}


